#navTitle{
    padding-left: 20%;
}

#navbarNav{
    padding-left: 15%;
}

.redBox{
    background-color: red;
    width: 100vw;
    height: 20vh;
    margin-bottom: 100px;
}

.title{
    margin-bottom: 40px;
    margin-top: 40px;
}
#footer{
    background-color: darkgray;
    margin: 0;
    margin-top: 100px;
}